/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media (min-width: 1200px) and (max-width: 1342px) {
    .solutions_img {
        margin-right: 0;
    }
    .name-divider{
        max-width: 91%;
      }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .banner_main {
        padding-top: 18%;
        padding-right: 0px;
        padding-left: 0px;
    }
    .text-bg h1 {
        font-size: 66px;
        line-height: 87px;
    }
    .bann_img {
        padding-right: 0;
    }
    .titlepage h2 {
        font-size: 38px;
    }
    .solutions_img {
        margin-right: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .banner_main {
        padding-top: 18%;
        padding-right: 0px;
        padding-left: 0px;
    }
    .text-bg h1 {
        font-size: 47px;
        line-height: 69px;
    }
    .bann_img {
        padding-right: 0px;
    }
    .titlepage h2 {
        font-size: 30px;
        line-height: 41px;
    }
    .multipurpose h3 {
        font-size: 70px;
        line-height: 90px;
    }
    .solutions_img {
        margin-right: 0;
    }
    .contact-details ul li img {
        margin-right: 27px;
    }
    .contact-details ul li {
        font-size: 30px;
    }
    .company-name {
        color: #d1283c;
        font-size: 90px;
        line-height: 90px;
      }
      
      .company-sub-name {
        font-size: 33px;
        line-height: 50px;
      }

      .work{
        padding-top: 15%;
    }
    .name-divider{
        width: 94%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .banner_main {
        padding-top: 18%;
        padding-right: 0px;
        padding-left: 0px;
    }
    .text-bg {
        padding-top: 73px;
        padding-right: 0px;
    }
    .text-bg h1 {
        font-size: 57px;
        line-height: 81px;
    }
    .text-bg a {
        margin-bottom: 30px;
        max-width: 250px;
    }
    .titlepage h2 {
        font-size: 38px;
    }
    .service .titlepage {
        padding-left: 0;
        padding-top: 40px;
    }
    .service_img {
        padding-left: 0px;
    }
    .sm_none {
        display: none;
    }
    .sm_show {
        display: block;
        padding-top: 30px;
    }
    .multipurpose h3 {
        font-size: 58px;
        line-height: 70px;
    }
    .solutions_img {
        margin-right: 0;
        margin-top: 30px;
    }
    .navigation.navbar {
        float: right;
        display: inherit !important;
        padding: 0;
        width: 100%;
    }
    .navigation .navbar-collapse {
        background: #000;
        padding: 20px;
        margin-top: 52px;
        position: absolute;
        width: 100%;
        margin-right: 20px;
        z-index: 999;
    }
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
    }
    .navigation.navbar-dark .navbar-toggler {
        border: inherit;
        float: right;
        padding: 0;
    }
    .navigation.navbar-dark .navbar-toggler-icon {
        background: url(../images/menu_icon.png);
        background-repeat: no-repeat;
    }

    .company-name {
        color: #d1283c;
        font-size: 126px;
        line-height: 126px;
      }
      
      .company-sub-name {
        font-size: 48px;
        line-height: 60px;
      }
      .contact-details{
        padding: 25px;
    }
    .contact-details ul li {
        font-size: 29px;
    }
    .work{
        padding-top: 20%;
    }

    .services-wrapper{
        flex-direction: column;
        padding: 0 20%;
    }
}

@media (max-width: 575px) {
    .banner_main {
        padding-top: 18%;
        padding-right: 0px;
        padding-left: 0px;
    }
    .company-name {
        color: #d1283c;
        font-size: 73px;
        line-height: 73px;
      }
      
      .company-sub-name {
        font-size: 27px;
        line-height: 54px;
      }

      .name-divider{
        max-width: 97%;
      }
      .work{
        padding-top: 25%;
    }
    .header {
        padding: 30px 0px;
    }
    .logo {
        text-align: center !important;
        padding-bottom: 6px;
        float: left;
    }
    .text-bg {
        padding-top: 18px;
    }
    .text-bg a {
        margin-bottom: 30px;
        max-width: 250px;
    }
    .text-bg h1 {
        font-size: 34px;
        line-height: 53px;
        padding-bottom: 40px;
    }
    .service .titlepage {
        padding-left: 0;
        padding-top: 40px;
    }
    .titlepage h2 {
        font-size: 22px;
        line-height: 37px;
    }
    .about_img {
        padding: 0;
    }
    .multipurpose h3 {
        font-size: 52px;
        line-height: 74px;
    }
    .multipurpose p {
        padding-top: 10px;
    }

    .contact-details{
        padding: 10px;
    }
    .contact-details ul li {
        font-size: 18px;
    }
    .contact-details ul li img {
        margin-right: 13px;
        width: 35px;
        height: 35px;
    }
    .service{
        padding-top: 40px;
    }
    .services{
        font-size: 30px;
    }
    .service_img {
        padding-left: 0px;
        text-align: inherit;
    }
    .service-list{
        font-size: 18px;
        color: #060002;
        margin: 14px 0;
      }
    .solutions_img {
        margin-right: 0;
        margin-top: 30px;
    }
    .sm_none {
        display: none;
    }
    .sm_show {
        display: block;
        padding-top: 30px;
    }
    .navigation.navbar {
        float: right;
        display: inherit !important;
        padding: 0;
        width: 100%;
        margin-top: -33px;
    }
    .navigation .navbar-collapse {
        background: #000;
        padding: 20px;
        margin-top: 62px;
        position: absolute;
        width: 100%;
        margin-right: 20px;
        z-index: 999;
    }
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
    }
    .navigation.navbar-dark .navbar-toggler {
        float: right;
        border: inherit;
        padding: 0;
    }
    .navigation.navbar-dark .navbar-toggler-icon {
        background: url(../images/menu_icon.png);
        background-repeat: no-repeat;
    }

    .footer{
        padding-top: 35px;
    }
    .copyright{
        margin-top: 65px;
    }
    .services-wrapper{
        flex-direction: column;
        padding: 0;
    }
    .company-wrapper {
        text-align: center;
    }
    .contact-img {
        width: 42px;
        height: 42px;
    }
}
